CONFIG_SOURCE=src
HEAD_HOST=127.0.0.1
HEAD_PORT=4000

SERVICE_1_LABEL=backend-api
SERVICE_1_PATH=/api
SERVICE_1_URL=http://127.0.0.1:4100
SERVICE_1_MATCH=**
SERVICE_1_REWRITE_FROM=^/api(?:/(.*))?$
SERVICE_1_REWRITE_TO=/$1

SERVICE_2_LABEL=frontend
SERVICE_2_PATH=/
SERVICE_2_URL=http://127.0.0.1:3000
SERVICE_2_MATCH=**
